<%- include("partials/header"); -%>
<section class="intro">
    <div class="container">
        <div class="jumbotron">
            <h1>Contact</h1>
            <!-- <p>{post}</p> -->
            <p><%- contactContent %> </p>

        </div>
    </div>
</section>
<%- include("partials/footer"); -%>
