<%- include("partials/header"); -%>

<section class="intro">
    <div class="container">
        <div class="jumbotron">
            <h1>More about Journalizer</h1>
            <!-- <p>{post}</p> -->
            <p>Journalizer is a public blogging tool developed by Hoon Yoo in 2022.
              It allows its users to share their stories and interact with others anonymously.
            Journalizer is developed using Javascript, HTML, CSS, Bootstrap on front-end, and Node.js, Express, EJS, NPM, MongoDB on back-end. Deployed on Heroku. </p>

        </div>
    </div>
</section>

<%- include("partials/footer"); -%>
